.btn {
  position: relative;
  display: block;

  font-family: $ff-manrope;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: $color-cerulean-blue;
  text-align: left;
  text-transform: uppercase;
  background-color: $color-transparent;
  border: 1px solid $color-cerulean-blue;
  cursor: pointer;

  transition: all $trans-default;
  &:hover,
  &:focus,
  &:focus-visible {
    color: $color-default-white;
    background-color: $color-cerulean-blue;
    outline: none;
  }

  &:active {
    color: $color-white-opacity;
    background-color: $color-cerulean-blue;

    svg {
      color: $color-cerulean-blue-opacity;

      &::before {
        background-color: $color-default-white;
      }
    }
  }

  &:disabled,
  &.disabled {
    color: $color-mischka;
    border-color: $color-mischka;
    pointer-events: none;

    svg {
      opacity: 0.6;

      &::before {
        background-color: $color-mischka;
      }
    }
  }
}

.btn--primary {
  min-height: 54px;
  padding: 19px;
  padding-right: 79px;
  letter-spacing: 0.1px;
  background-color: $color-default-white;
  border-radius: 30px;
}

.btn__icon-container {
  position: absolute;
  top: 3px;
  right: 3px;
  display: block;
  width: 46px;
  height: 46px;
  background-color: $color-cerulean-blue;
  border-radius: 50%;

  svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: $color-default-white;
    transform: rotate(-45deg);
  }
}
