.btn {
  display: inline-flex;

  font-family: $ff-manrope;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: $color-cerulean-blue;

  background-color: $color-transparent;
  border: 1px solid $color-cerulean-blue;
  cursor: pointer;

  transition:
    color $trans-default,
    background-color $trans-default;

  &:hover,
  &:focus,
  &focus-visible {
    color: $color-default-white;
    background-color: $color-cerulean-blue;
    outline: none;
  }

  &:active {
    color: $color-white-opacity;
    background-color: $color-cerulean-blue;
  }

  &:disabled {
    color: $color-mischka;
    border-color: $color-mischka;
    pointer-events: none;
  }
}
